version: 2.1
orbs:
  node: circleci/node@5.0.2

jobs:
  build_and_tests:
    docker:
      - image: circleci/node
      - image: circleci/mongo
        environment:
          -API_MONGODB_TEST: "mongodb://localhost:27017/test_db"
          -NODE_ENV: "development"
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run test
          name: Run tests
      - run:
          command: npm run build
          name: Build app

workflows:
  build_and_tests_workflow:
    jobs:
      - build_and_tests 